/* === PREDEFINIÇÕES === */
html {
	font-size: calc(1em + 1vw);
}

body header {
	background: #323232;
	padding: 2vw 5vw 2vw 5vw;
	font-family: arial;
	color: white;
}

header h1 a {
	padding: 0vw 0vw 0vw 7vw;
}

header h2 {
	color: white;
	font-family: arial;
	font-size: 2.5em;
	text-align: center;
	margin-top: 10vw;
	padding: 0vw 0vw 3vw 0vw;
}

header p {
	font-size: 0.6em;
	font-family: arial;
	text-align: center;
	padding: 0vw 0vw 5vw 0vw;
	margin: 1vw 18vw 1vw 18vw;
	line-height: 1.8em;
}

header p a {
	font-family: arial;
	text-align: center;
	background: #fa6a4f;
	padding: 1vw 5vw 1vw 5vw;
	text-decoration: none;
	border-radius: 5px;
	color: white;
}

section.pilaresSEG ul {
	padding: 3vw 12vw 0vw 12vw;
	display: flex;
	justify-content: center;
}

section.pilaresSEG ul li {
	text-align: center;
	width: 25vw;
	padding: 3vw 3vw 3vw 5vw;
}

section.pilaresSEG h3 {
	padding: 2vw 0vw 2vw 0vw;
	font-family: arial;
	font-size: 0.7em;
}

section.pilaresSEG p {
	font-size: 0.5em;
	color: #FA6A4F;
}

section.pilaresSEG img {
	max-width: 200px;
	max-height: 150px;
	width: auto;
	height: auto;
}

section.contato h1 {
	text-align: center;
	font-family: arial;
	font-size: 0.92em;
}

section.contato p {
	text-align: center;
	font-size: 0.5em;
	color: #9E9E9E;
	padding: 1vw 0vw 6vw 0vw;
	font-family: arial;
}

section.contato ul h2 {
	font-family: arial;
	font-size: 0.6em;
	padding: 0vw 0vw 0vw 4vw;
}

section.contato li p {
	padding: 1vw 0vw 2vw 4vw;
	text-align: left;
}

section.btn-enviar.name.value {
	background: #F1f5f8;
	border: none;
	text-align: center;
}

section.contato p {
	font-size: 0.5em;
	text-align: center;
	padding: 1vw 0vw 4vw 0vw;
}

section.contato h1 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-top: 10vw;
	font-size: 1.7em;
}

section.contato p.aa {
	color: #898585;
	margin-left: 40vw;
	margin-top: 3vw;
	margin-bottom: 8vw;
}

section.contato div {
	display: flex;
}

section.contato form {
	margin-left: 13vw;
	width: 60vw;
}

section.contato form input {
	background: #F1f5f8;
	padding: 1vw 13vw 1vw 1vw;
	border: none;
}

section.contato form select {
	padding: 1vw 45vw 1vw 1vw;
	background: #F1f5f8;
	margin-top: 1.5vw;
	border: none;
}

section.contato form textarea {
	padding: 1vw 40vw 6vw 1vw;
	background: #F1f5f8;
	margin-top: 1.5vw;
	border: none;
}

section.contato form input.nome {
	background: #FA6A4F;
	padding: 0vw 0vw 0vw 0vw;
	margin-top: 1.5vw;
	border: none;
	font-size: 1em;
	color: white;
}

section.contato ul li h2 {
	font-size: 0.8em;
}

section.contato ul li p {
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
	color: #898585;
	font-size: 0.5em;
}

section.rodape {
	background: #323232;
}

section.rodape p {
	color: white;
	padding: 3vw 3vw 3vw 3vw;
	font-size: 0.5em;
	text-align: center;
}

section.rodape ul {
	display: flex;
	padding: 0vw 3vw 3vw 46vw;
}

section.rodape a {
	padding: 0vw 1vw 0vw 0vw;
}

section.rodape img {
	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
}

/* === BREAKPOINTS === */
@media all and (max-width: 1199px) {
	...
}

@media all and (max-width: 480px) {
	...
}